*{
  box-sizing: border-box;
}

.container{
  width: 1340px;
  margin: 0 auto;
}
body{
  font-family: 'Rubik', sans-serif;
}

.sedan{
  background: #E28625;
  border-radius: 8px;
  width: 307px;
  height: 550px;
}
.sedan img{
  margin: 48px;
}
.sedan h2{
  padding: 35px 48px;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #F2F2F2;
}
.sedan p{
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-left: 40px;}
  
  .sedan a {
    background: #F2F2F2;
    border-radius: 25px;
    font-size: 15px;
    line-height: 25px;
    color: #E28625;
    padding: 10px 20px;
    margin-left: 75px;
    text-decoration: none;
  }
  
  .suv{
    background: #006971;
    border-radius: 8px;
    width: 307px;
    height: 550px;
  }
  .suv img{
    margin: 48px;
  }
  .suv h2{
    padding: 35px 48px;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #F2F2F2;
  }
  .suv p{
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-left: 40px;
  }
  .suv a {
    background: #F2F2F2;
    border-radius: 25px;
    font-size: 15px;
    line-height: 25px;
    color: #006971;
    padding: 10px 20px;
    margin-left: 75px;
    text-decoration: none;
  }
  
  .luxury{
    background: #004140;
    border-radius: 0px 8px 8px 0px;
    width: 307px;
    height: 550px;
  }
  .luxury img {
    margin: 48px;
  }
  .luxury h2{
    padding: 35px 48px;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #F2F2F2;
  }
  .luxury p{
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-left: 40px;
  }
  .luxury a {
    background: #F2F2F2;
    border-radius: 25px;
    font-size: 15px;
    line-height: 25px;
    color: #004140;
    padding: 10px 20px;
    margin-left: 75px;
    text-decoration: none;
  }
  
  
  
  .cars{
    display: flex;
    justify-content: center;
  }